html {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(26, 25, 25, 0.02);
}

.container {
  width: 60rem;
  margin: auto;
}

header {
  background-color: rgba(0, 0, 0, 0.77);
  padding: 1rem;
  color: #fff;
}

form {
  display: inline-flex;
  width: 100%;
}

form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  cursor: text;
}

form input[type=submit] {
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form input[type=submit]:hover {
  background: #0b7dda;
}

main {
  background-color: rgba(26, 25, 25, 0.02);
  padding: 1rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

article {
  width: calc(100% / 3 - 2rem);
  box-sizing: border-box;
  border: 1px #ccc solid;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 3px 6px 6px #ccc;
  transition: all 0.2s ease-in-out;
}

article h2 {
  margin: 0;
  text-align: center;
  padding: 0 0 0.5rem 0;
}

figure {
  margin: 0;
  text-align: center;
}

figure img {
  width: 100%;
}

figcaption {
  text-align: center;
}

dialog {
  position: fixed;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  display: block;
}

dialog[open] {
  opacity: 1;
}

dialog::backdrop {
  background: rgb(0 0 0 / 0.8);
}

dialog span {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  filter: drop-shadow(2px 2px 2px #000);
  cursor: pointer;
}

footer {
  background-color:  rgba(0, 0, 0, 0.77);
  text-align: center;
  padding: 1rem;
  color: #fff;
  height: 3rem;

}